<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="w-50 p-5 border border-secondary text-center">
        <h2>Welcome to Login</h2><br>
        <label for="">Username :</label><input type="text" class="form-control"
            placeholder="Enter your username" /><br><br>
        <label for="">Password :</label><input type="password" class="form-control"
            placeholder="Enter your password" /><br><br>
        <!-- <button class="btn btn-primary" routerLink="/structural-directive">Login</button> -->
        <button class="btn btn-primary" (click)="login()">Login</button>
    </div>
</div>