<div class="row text-center">
    <div class="col-12 m-3">
        <h3>Example of *ngSwitch vs &#64;switch</h3>
    </div>
</div>

<div class="row text-center">
    <div class="col-12">
        <button class="btn btn-success m-1" (click)="set(1)">1st Grade</button>
        <button class="btn btn-primary m-1" (click)="set(2)">2nd Grade</button>
        <button class="btn btn-warning m-1" (click)="set(3)">3rd Grade</button>
    </div>
    <!-- <div [ngSwitch]="grade" class="col-12 m-3">
        <div *ngSwitchCase="1" class="alert alert-success">
            Congratulaltions on your outstanding achievement - First Grade
        </div>
        <div *ngSwitchCase="2" class="alert alert-primary">
            Congratulaltions on your achievement - Second Grade
        </div>
        <div *ngSwitchCase="3" class="alert alert-warning">
            Congratulaltions on your achievement - Third Grade
        </div>
        <div *ngSwitchDefault class="alert alert-danger">
            No result found...
        </div>
    </div> -->
    <div class="m-3">
        @switch (grade) {
        @case(1){
        <div class="alert alert-success">
            Congratulaltions on your outstanding achievement - First Grade
        </div>
        }
        @case(2){
        <div class="alert alert-primary">
            Congratulaltions on your achievement - Second Grade
        </div>
        }
        @case(3){
        <div class="alert alert-warning">
            Congratulaltions on your achievement - Third Grade
        </div>
        }
        @default{
        <div class="alert alert-danger">
            No result found...
        </div>
        }
        }
    </div>
</div>